*{
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
    max-width: 1600px;
    
}
.container{
    width: 90%;
    margin: auto;
}

.navbar{
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-ul{
    display: flex;
    gap: 26px;
}
.navbar-ul li{
    list-style: none;
}
.navbar-ul a{
    text-decoration: none;
    color: black;
}
.navbar-button{
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    background-color:#30B868;
}
.navbar-button a{
    color: white;
    text-decoration: none;
}
.navbar-button:hover{
    background-color: #130e02;
}




.banner-section{
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.open-bar{
   display: flex;
   justify-content: center;
   align-items: center;
}
.open-btn{
    width: 200px;
    text-align: center;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #30B868;
    background-color: white;
    border-radius: 40px;
}
.text-div{
    text-align: center;
    width: 50%;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text-div h1{
    font-size: 71px;
    font-weight: 700;
}
.first-title{
    color: rgba(48, 184, 104, 1)
}
.text-div p{
    font-size: 16px;
    font-weight: 400;
}

 /* common class  */
 .common-flex{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .banner-btn{
    gap: 20px;
 }
 .banner-text-image{
    border: none;
    font-size: 16px;
    gap: 0px 5px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
 }
 .banner-text-image:hover{
    background-color: #130e02;
 }
 .banner-text-image a{
    text-decoration: none;
    color: white;
 }

.banner-text-icon{
    border: none;
    font-size: 16px;
    gap: 0px 5px;
    padding: 15px 16px;
    border-radius: 4px;
    background: none;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
}
.banner-text-icon:hover{
    background-color: #130e02;
}
.banner-text-icon a{
    text-decoration: none;
    color: white;
}





.first-block-title{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}
.first-block-title h1{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
.block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 50px 0px;
    
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 10px 4px 8px 0px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 1);
}
.block-button{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 83, 83);
    padding: 50px;
    border-radius: 50%;
}
.img-class{
    width: 30px;
    height: 30px;
    color: white;
}
.box img{
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
}




.brain-div{
     gap: 60px;
}
.image-section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.image-section h4{
    font-size: 16px;
    font-weight: 500;
    color: #3f8657;
}
.image-section h1{
    font-size: 48px;
    font-weight: 700;
}
.box-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.items{
    display: flex;
    float: left;
    gap: 7px;
}




.last-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 80px 40px;
    border-radius: 12px;
    background-color: #f0efef;
}
.last-section p{
    width: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}


footer{
    background-color: rgba(0, 25, 49, 1);
    padding: 120px 120px 30px 120px;
    margin-top: 50px;
}
.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(76, 76, 85);
    padding-bottom: 50px;
}

.footer-icons{
    display: flex;
    gap: 10px;
}
.footer-icon-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-icon-div h5{
    font-size: 20px;
    color: white;
}
.footer-icon{
    padding: 5px;
    background-color: #ffffff;
    border-radius: 50%;
}
.footer-icon icon{
    background-color: white;
}
.footer-section p{
    margin: 30px 0px;
    text-align: center;
    color: white;
}

